/* Zusätzliches CSS für Blocksy Customizer */

.entry-card.rpi_report_section{
    display:block;
}
.entry-card.rpi_report_section .report-parent-link{
    display: grid;
    grid-template-columns: auto 90px;
    margin-top: -20px!important;
}
.entry-card.rpi_report_section .report-parent-link .vintage-card-link{
    text-align: right;
}
.home .wp-block-post.rpi_report.type-rpi_report .wp-block-group{
    padding:0!important;
}


/* Manipulation der Printausgabe */
@media print {
    .ct-dynamic-filter,.ct-breadcrumbs,#header{
        display:none;
    }
    [data-layout*="grid"]{
        display:block;
    }
    .entry-card{
        box-shadow:none!important;
        padding:0!important;
    }
    .entry-header .page-description{
        font-size:20px!important;
        line-height:25px;
    }
    .post-type-archive-rpi_report .entry-header .page-description{
        display:none;
    }
    .entry-card.rpi_report_section .report-parent-link{

    }
    .entry-card.rpi_report_section .report-parent-link:before{
        content:'- '
    }
    .entry-card.rpi_report_section .report-parent-link:after{
        content:'- '
    }
    article>.entry-content {
        max-width:100%!important;
        width:100%!important;
    }
    [data-vertical-spacing*="top"],[data-vertical-spacing*="bottom"]{
        padding:0!important;
    }
    article>.entry-content {
        page-break-before: always;
    }

}
